@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-jetbrains
  }

  body {
    height: 100vh;
    overflow-x: hidden;
  }
  body.no-scroll {
    overflow-y: hidden ;
  }
}