---
import "../styles/base.css";

import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Navigation from "../components/navigation.astro";
---

<Layout title="Portfolio">
  <p
    class="absolute hidden lg:block 2xl:text-[800px] text-slate-50 mix-blend-multiply -bottom-32 -right-20 z-10"
  >
    DEV
  </p>
  <Navigation />
  <main>
    <Home />

    <section id="projects" class="section bg-slate-50">
      <div
        class="lg:w-5/6 w-11/12 max-w-[1750px] h-full mx-auto md:pt-32 pt-24"
      >
        <h2
          class="project-title w-max mx-auto text-slate-700 font-bold md:text-7xl text-4xl text-center font-poppins relative"
        >
          Proyectos
        </h2>
      </div>
    </section>
  </main>
</Layout>

<style>
  .project-title::after {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 1em;
    height: 0.2em;
    background-color: rgb(120, 195, 238);
    border-radius: 35px;
  }
</style>
