---
import Layout from "../layouts/Layout.astro";

import "../styles/base.css";
import DownloadIcon from "../components/download-icon.astro";
---

<Layout title="Portfolio">
  <main>
    <section class="section section-home relative">
      <span
        class="block w-[200px] h-[550px] rotate-45 scale-125 blur-xl opacity-10 rounded-full bg-sky-400 absolute top-20 -left-24"
      ></span>
      <span
        class="block w-[350px] h-[400px] scale-125 rotate-12 blur-xl opacity-10 rounded-full bg-emerald-500 absolute bottom-40 right-0"
      ></span>
      <div
        class="py-0 w-5/6 max-w-[1900px] h-3/4 m-auto grid grid-cols-2 gap-10"
      >
        <div class="left-side px-8 flex flex-col gap-8 justify-center">
          <h1
            class="text-9xl font-bold font-poppins text-slate-800 leading-[1.2em]"
          >
            <span class="text-indigo-400 font-normal">{"<"}</span>Hola! <br /> soy
            Daniel<span class="text-indigo-400 font-normal">{"/>"}</span>
          </h1>
          <p class="text-slate-400 font-poppins leading-8 mb-16 text-lg">
            Soy desarrollador fullstack de Argentina. <br /> Me gusta encontrar soluciones
            prácticas que ayuden a potenciar <br /> la marca del cliente a través
            del desarrollo y el diseño.
          </p>
          <div
            class="home-buttons grid grid-cols-2 gap-4 w-11/12 max-w-2xl ml-12"
          >
            <a
              href="#"
              class="text-lg block text-center bg-white py-3 rounded-xl shadow-xl shadow-indigo-200/20 text-slate-500 active:scale-95 hover:shadow-indigo-200/60 transition-all"
              >Contactame</a
            >
            <a
              href="#"
              class="group flex justify-center gap-4 text-lg active:scale-95 text-center bg-gradient-to-r from-blue-400 to-teal-300 py-3 rounded-xl text-white transition-all"
            >
              <span
                class="animate-icon group-hover:animate-[wiggle_1s_forwards]"
              >
                <DownloadIcon />
              </span>
              <span>Descargar CV</span>
            </a>
          </div>
        </div>

        <div class="right-side border border-green-700"></div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .section {
    height: 100vh;
  }
  .section-home {
    background-image: url("/texture.jpg");
    background-color: #b3c3d6;
    background-blend-mode: screen;
  }

  .icon {
    background-image: url("icons/download.svg");
    width: 24px;
    height: 24px;

    color: white;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    45% {
      transform: rotate(7deg);
    }
    60% {
      transform: rotate(-7deg);
    }
    75% {
      transform: rotate(4deg);
    }
    85% {
      transform: rotate(-4deg);
    }
    92% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0);
    }
  }
</style>
