---
import "../styles/base.css";

import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Navigation from "../components/navigation.astro";
---

<Layout title="Portfolio">
  <p
    class="absolute hidden lg:block 2xl:text-[800px] text-slate-50 mix-blend-multiply -bottom-32 -right-20 z-10"
  >
    DEV
  </p>
  <Navigation />
  <main>
    <Home />
    <About />
    <Projects />
  </main>
</Layout>
