<span
  class="md:block hidden w-[200px] h-[550px] rotate-45 scale-125 blur-xl opacity-10 rounded-full bg-sky-400 absolute top-20 -left-24"
></span>
<span
  class="md:block hidden w-[350px] h-[400px] scale-150 rotate-12 blur-xl opacity-10 rounded-full bg-emerald-500 absolute bottom-40 -right-32"
></span>
